/* Navbar.css */
.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    color: yellow;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    color: yellow;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #ffeb3b; /* Lighter shade of yellow for hover effect */
  }
  